@charset "UTF-8";


* {
    margin: 0; padding: 0;
    font-family: 'ROBOTO', Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* header page */
header {
    width: 100%;
    height: 100vh;
    background-color: #56597a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
/* gnb */
#gnb_container {
    width: 100%;
    height: 100px;
    background-color: sandybrown;
    opacity: 0.5;
    /* padding: 0 60px; */
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
#groupL {
    width: 30%;
    background-color: #b7c499;
}
#groupR {
    width: 30%;
    background-color: #76815a;
}

.top_logo {
    width: 30%;
    background-color: #495037;
}

#all_menu{
    display: none;
    width: 100%;
    height: 40%;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 100px; left: 50%;
    transform: translate(-50%);
    padding-top: 20px;
    z-index: 5;
    /* align-self: center; */
    }
.firstWrap {
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 20px;
}
.firstWrap > li {
    color:indianred;
    font-size: 28px;
    font-family: 'Staatliches'
}
.secondWrap {
    padding-top: 10px;
    color: #000;
    font-size: 20px;
}
.secondWrap > li {
    padding-top: 10px;
}
.lastWrap {
    padding-left: 10px;
    font-size: 18px;
    color: #777777;

}
#openOffers_wrap {
    position: relative;
    position: absolute;
    width: 480px;
    height: 70%;
    top: 100px; left: 100%;
    transform: translate(-100%);
    display: flex;
    display: none;
}
#openOffers_contentBox {
    width: 440px;
    height: 100%;
    background-color: #fff;
    /* opacity: 0.8; */
    position: absolute;
    left: 40px;
}
#openOffers_tab {
    width: 40px;
    height: 200px;
    /* background-color: #acb2ec; */
    position: relative;
    position: absolute;
    /* -webkit-transform: rotate(270deg); */
}
.offers_tabName {
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
}
.offers_tabName > div {
    padding: 0 20px;
    border-radius: 10px 10px 0 0;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}
.offers_tabName > div:first-child {
    position: absolute;
    /* z-index: 3; */
    background-color: #C86B6B;
    
    -ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); transform: rotate(270deg); 
    top: 30px;
    left: -30px; 
}

.offers_tabName > div:nth-child(2) {
    position: absolute;
    /* z-index: 1; */
    background-color: #ffffff;
    -ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); transform: rotate(270deg); 
    top: 130px; 
    /* left: -21px;  */
    left: -20px; 
}

.offers_tabName > div > a {
    font-size: 20px;
    font-family: 'Staatliches'
}
.offers_tabName > div:first-child > a {
    color: #fff;
}
.offers_tabName > div:nth-child(2) > a {
    color: #777777;
}




/* slickFade */
.swiperContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}
swiper-wrapper{
}
.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.swiper-slide.fade1 {
    background: url('../img/header/HeaderMain/Main01_1920x1000.jpeg');
    background-size: cover;
    background-position: center;
}
.swiper-slide.fade2 {
    background: url('../img/header/HeaderMain/Main02_1920x900.jpeg');
    background-size: cover;
    background-position: center;
}

.swiperTextBox {
    color: #fff;
    line-height: 0.9;
    position: absolute;
    top: 55%; left: 50%;
    transform: translate(-50%);
}

.swiperTextBox p:first-child {
    font-size: 40px;
    font-family: 'Staatliches'
}
.swiperTextBox p:nth-child(2) {
    font-size: 120px;
    font-family: 'Staatliches'
}
.swiperTextBox p:last-child {
    font-size: 24px;
}


#booking_container {
    width: 100%;
    height: 100px;
    background-color: #e9967a;
    opacity: 0.6;
    z-index: 5;
}

/* 
#openOffers_wrap {
    width: 484px;
    height: 480px;
    background-color: #fff;
    display: flex;
    top: 100px; left: 100%;
    transform: translate(-100%);
    position: absolute;
}

#openOffers_wrap > ul > li {
    width: 90px;
    height: 40px;
    background-color: #C86B6B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.openOffers_tab {
    width: 100px;
    height: 100px;
    background-color: #e9967a;
}

.openOffers_tab a > p {
    -webkit-transform: rotateZ(270deg); 
    padding-right: 20px;
} */








footer {
    width: 100%;
    background-color: #eee;
    padding: 30px 0;
}
#info_container > ul {
    display: flex;
    justify-content: center;
}

.info_box {
    padding: 0 20px;
    font-size: 14px;
}
.info_box a {
    color: #000;
}
.info_box:nth-child(5) a {
    color: #C86B6B;
}

#mainfoot_container {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

#ceo_container {
    /* flex-direction: column; */
    text-align: center;
}
#ceoBox1 {
    display: flex;
    justify-content: center;
}

#ceoBox1 p {
    font-size: 14px;
    padding: 0 10px;
}
#ceoBox2 p {
    font-size: 14px;
}
#ceoBox2 p:first-child {
    padding: 5px 0;
}
#ceoBox2 p:nth-child(2) {
    font-size: 10px;
}
#ceoBox1 > img {
    display: none;
}
