@media screen and (max-width:767px){
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    #groupL {
        width: 30%;
    }
    #groupR {
        width: 30%;
    }
    
    .top_logo {
        width: 40%;
    }


    #all_menu{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        left: 0;
        transform: unset;
        padding-top: 10px;
    }

    .firstWrap {
        flex-direction: column;
        left: 20px;
        transform: unset;

        /* align-items: center; */
        /* text-align: center; */
        

        /* justify-content: space-evenly; */
    }
    .firstWrap > li {
        color:indianred;
        font-size: 30px;
        font-family: 'Staatliches'

        /* text-align: center; */
    }
    .secondWrap {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding: 4px 0;
        color: #777777;
        font-size: 20px;
        font-weight: bold;
        /* padding-top: 40px; */
        /* display: none; */
    }
    .secondWrap > li {
        padding-top: 4px;
    }

    .lastWrap {
        padding: 0;
        font-size: 16px;
        display: none;
    }
    .lastWrap > li {
        padding: 2px 0;
    }



    #openOffers_wrap {
        width: 320px;
        height: 50%;
    }
    #openOffers_contentBox {
        width: 280px;
    }

    .info_box {
        padding: 0 10px;
    }
}

@media screen and (min-width:1024px) {
}