@media screen and (max-width:767px){

    /* header */
    header {
        height: 400px;
    }
    #gnb_container {
        height: 70px;
        flex-direction: row-reverse;

    /* gnb */
    }
    #groupL {
        padding: 0 16px;
    }
    
    #groupL > button > img {
        width: 30px;
        height: 30px;
    }
    #logoBox {
        padding: 0 20px;
    }
    .top_logo > img {
        width: 84px;
        height: 42px;
    }
    #top_util {
        font-size: 14px;
    }
    #groupR,
    #top_findHotel,
    #top_langArea,
    #top_openOffers {
        display: none;
    }
    
    /* nav */
    #all_menu{
        width: 100%;
        height: 100vh;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        overflow: scroll;
        z-index: 10;
        top: 70px;
        display: none;
    }

    .firstWrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .firstWrap > li {
        font-size: 24px;
    }
    .secondWrap {
        display: flex;
        flex-direction: column;
        padding: 4px 0;
        font-size: 18px;
        font-weight: bold;
        display: none;
    }
    .secondWrap > li {
        padding-top: 4px;
    }

    .lastWrap {
        padding: 0;
        font-size: 16px;
        display: none;
    }
    .lastWrap > li {
        padding: 2px 0;
    }

    /* header slide */
    .swiper-slide.fade1 {
        background: url('../img/header/HeaderMain/Main01_PinL500x400.jpg');
        background-size: cover;
        background-position: center;
    }
    .swiper-slide.fade2 {
        background: url('../img/header/HeaderMain/Main02_PinL500x400.jpg');
        background-size: cover;
        background-position: center;
    }
    .swiper-wrapper {
        position: relative;
    }
    .swiperTextBox {
        width: 200px;
        height: 140px;
        padding: 20px;
        position: absolute;
        top: 145px; left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .swiperTextBox > p:first-child {
        font-size: 20px;
    }
    .swiperTextBox > p:nth-child(2) {
        font-size: 40px;
    }
    .swiperTextBox > p:nth-child(3) {
        font-size: 16px;
    }



    #booking_container {
        display: none;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    #info_container {
        order: 1;
        padding-bottom: 10px;
    }
    #info_container > ul {
        flex: unset;
        flex-direction: column;
        text-align: center;
    }
    #info_container li {
        display: inline-block;
    }

    #mainfoot_container {
        padding: 10px 0;
    }
    #footer_logo {
        display: none;
    }
    #ceo_container {
        order: 2;
    }
    #ceoBox1 {
        /* flex: unset; */
        flex-direction: column;
    }
    #ceoBox1 > img {
        display: block;
        padding-bottom: 10px;
        width: 250px;
        height: 40px;
        margin: 0 auto;

    }
}


@media screen and (min-width:768px) and (max-width: 1023px) {
    #groupL {
        padding: 0 30px;
        
    }
    #groupL > button > img {
        width: 40px;
        height: 40px;
    }

    #groupR {
        padding: 0 30px;
    }
    
    #top_findHotel,
    #top_langArea,
    #top_util {
        display: none;
    }


    #all_menu{
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        left: 0;
        transform: unset;
        padding-top: 10px;
        overflow: scroll;
        z-index: 10;
    }

    .firstWrap {
        flex-direction: column;
        left: 20px;
        transform: unset;
    }
    .firstWrap > li {
        font-size: 28px;
        line-height: 25px;
        
    }
    .secondWrap {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        font-size: 18px;
        font-weight: bold;
    }
    .secondWrap > li {
        padding-top: 0;
    }

    .lastWrap {
        padding: 0;
        font-size: 16px;
        display: none;
    }
    .lastWrap > li {
        padding: 2px 0;
    }


    #openOffers_wrap {
        width: 320px;
        height: 50%;
    }
    #openOffers_contentBox {
        width: 280px;
    }

    .info_box {
        padding: 0 10px;
    }
}

@media screen and (min-width:1024px) and (max-width: 1439px) {
    #groupL {
        padding: 0 30px;
        
    }
    #groupR {
        padding: 0 30px;
    }
    #top_findHotel {
        padding: 0 14px;
    }
    #top_util {
        padding: 0 10px;
    }
    
    .firstWrap {
        width: 100%;
        justify-content: space-evenly;
    }
    .firstWrap > li {
        font-size: 24px;
    }
    .secondWrap {
        font-size: 18px;
    }
    .lastWrap {
        font-size: 16px;
    }
}

@media screen and (min-width:1440px) and (max-width: 1919px) {
    .firstWrap {
        width: 90%;
        justify-content: space-evenly;
    }
    .firstWrap > li {
        padding: 0 20px;
    }
}

@media screen and (min-width:1920px) {
}