
@media screen and (max-width:767px){

    #room_container {
        height: 780px;
        background-color: #D7E4E8;
    }
    
    #room_box {
        width: 100%;
        height: 100%;
        transform: unset;
        top: 0; left: 0;

    }
    #room_imgbox {
        width: 100%;
        height: 400px;
        position: absolute;
        top: 40px;
    }

    #room_textbox {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 480px;
    }
    #room_innerBox {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    #room_title {
        width: 100%;
        padding: 40px 0;
        border: #D7E4E8 solid 2px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    #room_title > p:first-child {
        font-size: 16px;
        line-height: 16px;
    }
    #room_title > p:nth-child(2) {
        font-size: 40px;
        line-height: 40px;
    }
    #room_title > p:nth-child(3) {
        font-size: 14px;
    }



    #horizontal_line,
    .room_innerLine.num1,
    .room_innerLine.num2,
    #room_innerOffers {
        display: none;
    }

    /* dining */
    #dining_container {
        height: 680px;
        justify-content: unset;
        flex-direction: column-reverse;
        justify-content: center;
        justify-content: space-evenly;
    }
    #dining_titleBox {
        width: 100%;
        height: 60%;
        justify-content: center;
    }

    #dining_lineBox {
        width: 80%;
    }

    #dining_title > p:first-child {
        font-size: 16px;
        line-height: 16px;
    }

    #dining_title > p:nth-child(2) {
        font-size: 40px;
        line-height: 40px;
    }

    #dining_title > p:nth-child(3),
    #dining_title > p:nth-child(4) {
        font-size: 14px;
    }



    #dining_imgbox {
        width: 100%;
        height: 280px;
    }


    /* offer */

    #offers_title {
        width: 220px;
        left: 50%;
        transform: translate(-50%);
        top: 90px;
    }
    #offers_title p:first-child {
        font-size: 28px;
        line-height: 0.8;
    }
    #offers_title p:nth-child(2) {
        font-size: 16px;
    }

    .offers_innerBox {
    margin: 40px 0;
    }

    .offers_item.num1 {
        margin: 40px 0;
    }

    .offers_innerBox.num2 {
        display: none;
    }
    
    
    .offers_innerBox {
        margin: 80px 0;
        padding: 0 40px;
    }
    
    .offers_innerBox.num2 {
        margin-top: 340px;
    }
    
    
    .offers_item {
        width: 240px;
        height: 360px;
    }
    
    .offers_item {
        margin: 100px 0;
    }



    #facilities_title {
        width: 200px;
        top: 5px;
    }
    #facilities_title p:first-child {
        font-size: 28px;
        line-height: 0.8;
    }
    #facilities_title p:nth-child(2) {
        font-size: 16px;
    }



    #membership_box {
        /* height: 40%; */
    }
    #membership_title {
        padding-bottom: 10px;
    }

    #membership_title p:first-child {
        font-size: 40px;
        line-height: 0.8;
    }
    #membership_title p:nth-child(2) {
        font-size: 16px;
    }

    #membership_textBox {
        padding: 0 10px;
    }
    #membership_textBox p {
        font-size: 14px;
    }
    #membership_textBox p:nth-child(2) {
        display: none;
    }


    #membership_moreBox {
        width: 100px;
        height: 32px;
        line-height: 32px;
        margin-top: 20px;
    }
    #membership_moreBox p {
        font-size: 16px;
    }

}

@media screen and (min-width:768px) and (max-width: 1023px) {

    #horizontal_line {
        height: 70%;
    }

    #room_box {
        width: 90%;
        height: 50%;
    }

    #room_imgbox {
        width: 50%;
        height: 100%;
    }

    #room_textbox {
        width: 50%;
        height: 100%;
    }

    #room_innerBox {
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #room_title {
        padding: 20px;
    }

    #room_title > p:first-child {
        font-size: 16px;
        line-height: 16px;
    }
    #room_title > p:nth-child(2) {
        font-size: 30px;
        line-height: 30px;
        padding: 10px 0;
    }
    #room_title > p:nth-child(3) {
        font-size: 14px;
    }

    #room_innerOffers {
        display: none;
    }


    #dining_lineBox {
        width: 100%;
    }
    #dining_titleBox {
        width: 35%;
        height: 50%;
    }

    #dining_title > p:first-child {
        font-size: 16px;
        line-height: 16px;
    }

    #dining_title > p:nth-child(2) {
        font-size: 30px;
        line-height: 30px;
        padding: 10px 0;

    }

    #dining_title > p:nth-child(3),
    #dining_title > p:nth-child(4) {
        font-size: 14px;
    }

    #dining_innerLine {
        position: absolute;
        width: 92%;
        height: 94%;
    }

    #dining_imgbox {
        width: 65%;
        height: 50%;
    }

    

    #offers_title {
        width: 260px;
        left: 60%;
        top: 88px;

    }
    #offers_title p:first-child {
        font-size: 32px;
        line-height: 0.8;
    }

    
    
    .offers_innerBox {
        margin: 80px 0 160px;

        padding: 0 40px;
    }
    
    .offers_innerBox.num2 {
        margin-top: 340px;
    }
    
    
    .offers_item {
        width: 240px;
        height: 360px;
    }
    
    .offers_item {
        margin: 100px 0;
    }
    
    #facilities_title {
        width: 260px;
        top: 5px;
    }
    #facilities_title p:first-child {
        font-size: 32px;
        line-height: 0.8;
    }


    #membership_box {
    }

    #membership_title {
        padding-bottom: 24px;
    }
    #membership_title p:first-child {
        font-size: 32px;
    }
    #membership_textBox {
        font-size: 16px;
    }
}

@media screen and (min-width:1024px) and (max-width: 1439px) {

    #horizontal_line {
        height: 50%;
    }

    #room_box {
        width: 90%;
        height: 60%;
    }

    #room_imgbox {
        width: 50%;
    }

    #room_textbox {
        width: 50%;
        height: 100%;
    }

    #room_innerBox {
        width: 75%;
        height: 70%;
    }

    #room_title {
        padding: 40px 40px 40px;
    }

    #room_title > p:nth-child(2) {
        font-size: 48px;
        line-height: 48px;
    }
    #room_title > p:nth-child(3) {
        font-size: 18px;
    }

    #room_innerOffers {
        position: absolute;
        width: 80%;
        height: 120px;
        margin: 0 40px;
    }






    #dining_lineBox {
        position: relative;
        width: 90%;
        height: 100%;
    }
    #dining_titleBox {
        width: 40%;
        height: 60%;
    }

    #dining_title > p:nth-child(2) {
        font-size: 48px;
        line-height: 46px;
    }

    #dining_title > p:nth-child(3),
    #dining_title > p:nth-child(4) {
        font-size: 18px;
    }
    #dining_innerLine {
        position: absolute;
        width: 90%;
        height: 91%;
    }

    #dining_imgbox {
        width: 60%;
        height: 60%;
    }

    

    #offers_title {
        left: 55%;
    }

    
    
    .offers_innerBox {
        margin: 80px 0 160px;

        padding: 0 80px;
    }
    
    .offers_innerBox.num2 {
        margin-top: 360px;
    }
    
    
    .offers_item {
        width: 300px;
        height: 450px;
        background-color: #fff;
        border: #000 solid 1px;
    }
    
    .offers_item {
        margin: 140px 0;
    }

}

@media screen and (min-width:1440px) and (max-width: 1919px) {

    #horizontal_line {
        height: 60%;
    }

    #room_box {
        width: 80%;
        height: 70%;
    }

    #room_imgbox {
        width: 50%;
        height: 100%;
    }
    
    #room_textbox {
        width: 50%;
        height: 100%;
    }
    
    #room_innerBox {
        width: 75%;
        height: 70%;
    }
    #room_title {
        padding: 40px 40px 56px;
    }
    
    #room_title > p:first-child {
        font-size: 18px;
        line-height: 18px;
    }
    #room_title > p:nth-child(3) {
        font-size: 18px;
    }

    #room_innerOffers {
        margin: 0 40px;
    }


    #dining_lineBox {
        position: relative;
        width: 90%;
        height: 100%;
    }
    #dining_titleBox {
        width: 40%;
        height: 70%;
    }

    #dining_innerLine {
        position: absolute;
        width: 90%;
        height: 92%;
    }

    

    #dining_title > p:first-child {
        font-size: 18px;
        line-height: 18px;
    }

    #dining_title > p:nth-child(3),
    #dining_title > p:nth-child(4) {
        font-size: 18px;
    }


    #dining_imgbox {
        width: 60%;
        height: 70%;
    }



    #offers_title {
        left: 70%;
        width: 360px;
    }

    
        
    
    .offers_item {
        width: 380px;
        height: 570px;
    }
    
    

}

@media screen and (min-width:1920px) {

}
