@charset "UTF-8";

/* main room page */
#room_container {
    height: 100vh;
    background-color: #d2dfbf;
    position: relative;
}

#horizontal_line {
    background-color: #D7E4E8;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#room_box {
    width: 60%;
    height: 70%;
    background-color: aquamarine;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

#room_imgbox {
    width: 45%;
    height: 100%;
    background-color: #bfc9ad;
    display: inline;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_innerLine.num1 {
    position: absolute;
    border: #ffffff solid 1px;
    width: 92%;
    height: 94%;
}
.room_innerLine.num2 {
    position: absolute;
    border: #ffffff solid 1px;
    width: 86%;
    height: 89%;
}




#room_textbox {
    width: 55%;
    height: 100%;
    background-color: #859178;
    display: flex;
    justify-content: end;
    align-items: center;
    /* flex-direction: column; */
}

#room_innerBox {
    width: 80%;
    height: 70%;
    background-color: #fff;
}


/* main dining page */

#dining_container {
    height: 100vh;
    background-color: #E8EBEC;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;

}

#dining_textbox {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
}
#dining_innerText {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dining_innerLine {
    position: absolute;
    width: 92%;
    height: 94%;
    background-color: #fff;
    border: #E8EBEC solid 2px;
}

#dining_innerLine a {
    background-color: #ffffff;
}

#dining_imgbox {
    width: 60%;
    height: 70%;
    background-color: rgb(211, 161, 152);
}

/* dining page 반응형 수정 필요 */

/* main offers page */
#offers_container {
    padding-top: 100px;
    position: relative;
    background-color: rgb(235, 149, 140);
}
#offers_title {
    position: absolute;
    z-index: 3;
    width: 400px;
    background-color: #fff;
    text-align: center;
    left: 75%;
    top: 84px;
}
#offers_title p {
    font-family: 'Staatliches'
}
#offers_title p:first-child {
    font-size: 40px;
    line-height: 0.8;
}
#offers_title p:nth-child(2) {
    color: #C86B6B;
}


#offers_box {
    border-top: #000 solid 2px;
    height: 100%;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.offers_innerBox {
    display: inline-block;
    width: 402px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 120px 0 160px;
    padding: 0 120px;
}

.offers_innerBox.num2 {
    margin-top: 600px;
}

.offers_innerBox.num1 {
    background-color: bisque;
}
.offers_innerBox.num2 {
    background-color: antiquewhite;
}

.offers_item {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: #000 solid 1px;
}

.offers_item {
    margin: 160px 0;
}



/* main facilities page */
#facilities_container {
    width: 100%;
    height: 98vh;
    background-color: #859178;
    position: relative;
    display: flex;
    justify-content: center;
}

#facilities_title {
    position: absolute;
    width: 320px;
    background-color: #fff;
    text-align: center;
}
#facilities_title p {
    font-family: 'Staatliches'
}
#facilities_title p:first-child {
    font-size: 40px;
    line-height: 0.8;
}
#facilities_title p:nth-child(2) {
    color: #C86B6B;
}

#facilities_box {
    width: 100%;
    background-color: wheat;
    margin-top: 14px;
    border-top: #000 solid 2px;
}


/* main membership page */
#membership_container {
    width: 100%;
    height: 100vh;
    background-color: thistle;
    display: flex;
    align-items: center;
}
#membership_box {
    width: 100%;
    height: 40%;
    background-color: #fff;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#membership_title {
    padding-bottom: 50px;
}
#membership_title p {
    font-family: 'Staatliches'
}
#membership_title p:first-child {
    font-size: 40px;
    line-height: 0.8;
}
#membership_title p:nth-child(2) {
    color: #C86B6B;
}

#membership_textBox {
    padding-bottom: 20px;
    font-family: 'Roboto'
}

#membership_moreBox {
    width: 120px;
    height: 35px;
    background-color: #000;
    line-height: 35px;
}
#membership_moreBox p {
    color: #fff;
    font-family: 'Staatliches'
}


@media screen and (max-width:767px){

	/* 모바일 CSS */

}

@media screen and (min-width:768px) and (max-width: 1023px) {

	/* 테블릿 CSS */

}

@media screen and (min-width:1024px) and (max-width: 1919px) {


}

@media screen and (min-width:1920px) {

}
