@charset "UTF-8";

/* main room page */
#room_container {
    height: 1080px;
    /* background-color: #d2dfbf; */
    position: relative;
}

#horizontal_line {
    background-color: #D7E4E8;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#room_box {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}


#room_imgbox {
    width: 45%;
    height: 100%;
    display: inline;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper.autoplay > .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.swiper-slide.autoplay1R {
    background: url('../img/content/01RoomSection/LuxurySuite01.jpeg');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay2R {
    background: url('../img/content/01RoomSection/KidsDeluxe02.jpeg');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay3R {
    background: url('../img/content/01RoomSection/KidsPremierSuite01.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay4R {
    background: url('../img/content/01RoomSection/Deluxe02.jpeg');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay5R {
    background: url('../img/content/01RoomSection/LuxurySuite02.jpeg');
    background-size: cover;
    background-position: center;
}





.room_innerLine.num1 {
    position: absolute;
    border: #ffffff solid 1px;
    width: 92%;
    height: 94%;
    z-index: 1;
}
.room_innerLine.num2 {
    position: absolute;
    border: #ffffff solid 1px;
    width: 86%;
    height: 89%;
    z-index: 1;
}




#room_textbox {
    width: 55%;
    height: 100%;
    background-color: #859178;
    display: flex;
    justify-content: end;
    align-items: center;
    /* flex-direction: column; */
}

#room_innerBox {
    width: 70%;
    height: 70%;
    background-color: #fff;
    position: relative;
    /* padding: 60px; */
}
#room_title {
    padding: 60px 60px 90px;
}

#room_title > p:first-child {
    color: #C86B6B;
    line-height: 20px;
    font-family: 'Staatliches'
}
#room_title > p:nth-child(2) {
    font-size: 60px;
    line-height: 60px;
    font-family: 'Staatliches'
}
#room_title > p:nth-child(3) {
    color: #777777;
}

#room_innerOffers {
    position: absolute;
    width: 80%;
    height: 140px;
    margin: 0 60px;
    border: #D7E4E8 solid 2px;
}


/* main dining page */

#dining_container {
    height: 1080px;
    background-color: #E8EBEC;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;

}

#dining_textbox {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
}
#dining_innerText {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dining_innerLine {
    position: absolute;
    width: 92%;
    height: 94%;
    background-color: #fff;
    border: #E8EBEC solid 2px;
}

#dining_innerLine a {
    background-color: #ffffff;
}

#dining_imgbox {
    width: 60%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: rgb(211, 161, 152);
}


.swiper-slide.autoplay1D {
    background: url('../img/content/02DiningSection/Dining01_1300x820.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay2D {
    background: url('../img/content/02DiningSection/Dining02_1300x820.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay3D {
    background: url('../img/content/02DiningSection/Dining03_1300x820.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay4D {
    background: url('../img/content/02DiningSection/Dining04_1300x820.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay5D {
    background: url('../img/content/02DiningSection/Dining05_1300x820.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay6D {
    background: url('../img/content/02DiningSection/Dining06_1300x820.png');
    background-size: cover;
    background-position: center;
}
.swiper-slide.autoplay7D {
    background: url('../img/content/02DiningSection/Dining07_1300x820.png');
    background-size: cover;
    background-position: center;
}


/* dining page 반응형 수정 필요 */

/* main offers page */
#offers_container {
    padding-top: 100px;
    position: relative;
    background-color: rgb(235, 149, 140);
}
#offers_title {
    position: absolute;
    z-index: 3;
    width: 400px;
    background-color: #fff;
    text-align: center;
    left: 75%;
    top: 84px;
}
#offers_title p {
    font-family: 'Staatliches'
}
#offers_title p:first-child {
    font-size: 40px;
    line-height: 0.8;
}
#offers_title p:nth-child(2) {
    color: #C86B6B;
}


#offers_box {
    border-top: #000 solid 2px;
    height: 100%;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.offers_innerBox {
    display: inline-block;
    width: 402px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 120px 0 160px;
    padding: 0 120px;
}

.offers_innerBox.num2 {
    margin-top: 600px;
}

.offers_innerBox.num1 {
    background-color: bisque;
}
.offers_innerBox.num2 {
    background-color: antiquewhite;
}

.offers_item {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: #000 solid 1px;
}

.offers_item {
    margin: 160px 0;
}



/* main facilities page */
#facilities_container {
    height: 1080px;
    background-color: #859178;
    position: relative;
    display: flex;
    justify-content: center;
}

#facilities_title {
    position: absolute;
    width: 320px;
    background-color: #fff;
    text-align: center;
}
#facilities_title p {
    font-family: 'Staatliches'
}
#facilities_title p:first-child {
    font-size: 40px;
    line-height: 0.8;
}
#facilities_title p:nth-child(2) {
    color: #C86B6B;
}

#facilities_box {
    width: 100%;
    background-color: wheat;
    margin-top: 14px;
    border-top: #000 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    padding: 0 40px;
    /* margin: 0 40px; */
    
    display: block;


    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev > img {
}
.slick-prev {

    left: -30px;
}
.slick-next {
    right: -25px
}
.facilities_wrap {
    width: 80%;
    height: 820px;
    background-color: tomato;
    position: relative;
}
.facilities_wrap > div:first-child {
    height: 100%;
    margin: 0 20px;
    background-color: #D7E4E8;
}


/* main membership page */
#parallax-window {
    height: 100vh;
    display: flex;
    align-items: center;
}
#membership_box {
    width: 100%;
    height: 40%;
    background-color: #fff;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#membership_title {
    padding-bottom: 50px;
}
#membership_title p {
    font-family: 'Staatliches'
}
#membership_title p:first-child {
    font-size: 40px;
    line-height: 0.8;
}
#membership_title p:nth-child(2) {
    color: #C86B6B;
}

#membership_textBox {
    padding-bottom: 20px;
    font-family: 'Roboto'
}

#membership_moreBox {
    width: 120px;
    height: 35px;
    background-color: #000;
    line-height: 35px;
}
#membership_moreBox p {
    color: #fff;
    font-family: 'Staatliches'
}


@media screen and (max-width:767px){

	/* 모바일 CSS */

}

@media screen and (min-width:768px) and (max-width: 1023px) {

	/* 테블릿 CSS */

}

@media screen and (min-width:1024px) and (max-width: 1919px) {


}

@media screen and (min-width:1920px) {

}
