@charset "UTF-8";


* {
    margin: 0; padding: 0;
    font-family: 'ROBOTO', Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 헤더 */
header {
    width: 100vw;
    height: 100vh;
    background-color: #f9ffea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* gnb */
#gnb_container {
    /* width: 100vw; */
    height: 100px;
    background-color: sandybrown;
    opacity: 0.5;
}

#booking_container {
    /* width: 100vw; */
    height: 80px;
    background-color: #e9967a;
    opacity: 0.6;
}
footer {
    width: 100vw;
    /* height: 20vh; */
    background-color: #eee;
}